{% extends "base.html" %}
{% block title %}Chi nhánh{% endblock %}
{% block content %}
<h1>Thống kê theo chi nhánh</h1>

<table>
    <thead>
        <tr>
            <th>Mã CN</th>
            <th>Tên chi nhánh</th>
            <th>Số sản phẩm</th>
            <th>Giá trung bình</th>
            <th>Đang bán</th>
            <th>Ngừng bán</th>
        </tr>
    </thead>
    <tbody>
        {% for b in branches %}
        <tr>
            <td>{{ b.ma_chi_nhanh }}</td>
            <td>{{ b.ten_chi_nhanh }}</td>
            <td>{{ b.so_san_pham }}</td>
            <td class="text-right">{{ "{:,.0f}".format(b.gia_trung_binh or 0) }}đ</td>
            <td>{{ b.sp_dang_ban }}</td>
            <td>{{ b.sp_ngung_ban }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
